<!doctype html>
<html>
  <head>
    <title>
      Merlin-Peres Magic Square 
    </title>
    <meta charset="UTF-8">
    <!-- To connect people in a peer2peer way, the easiest is to use
         WebRTC. The main problem is to find a way to discover people
         the first time (so called signalling). Then, there is some
         STUN servers that tries to break the firewalls in order to
         let people connect (google offers for free some of these STUN
         servers), and we can eventually use a TURN server for if some
         proxies do no allow p2p connection (the TURN server will then
         be in between the participants).  For signaling, we can use
         several methods: either send some ICE (check that ICE is
         indeed that) "credentials" (that explains how it's possible
         to reach you, via your ip...) to someone via mail for example
         (not very practical), or you can use services (free if
         possible) that record this ICE for you. There exists PeerJs
         that provides such a free service (+ library), or if you want
         to be able to create a whole chat room, there is
         RTCMultiConnection (some very powerful platforms exists, but
         you need to pay). Here we will use RTCMultiConnection (possible
         to self host or use their own server for testing).
      -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/quantum-circuit"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>

  </head>
  <body>

    <!-- #######################################################################
         ############################## Templates ##############################
         #######################################################################
      -->

    
    
    <div id="app">
      <div>{{ message }}</div>
      <!-- ##### Change username ##### -->
      <div v-if="currentStep == 'connectToRoom'">
        You need to connect to a room. You can keep the default:
        <input v-model="roomName">
        <button v-on:click="connectToRoom">Connect to room</button>
      </div>
      <div v-else>
        <div>
          Your username: <span v-if="connection && connection.extra && connection.extra.fullName">{{ connection.extra.fullName }}</span><span v-else>Connection not yet done, you don't have yet a userName...</span> <br/>
          Change username: <input v-model.lazy="myFullName"> <br/>
          Status:
          <span v-if="connection && connection.isRoomOpened"> The room is opened :-D</span>
          <span v-else>The room is not opened :-(</span>
        </div>
        
        <div v-if="currentStep == 'searchPlayers'">
          Welcome!
          <!-- Check if there are some available players -->
          <div v-if="!potentialPlayers || !potentialPlayers.length">
            We are currently trying to find players that want to
            play with you, be patient, or ask you friends to connect ;)
          </div>
          <div v-else>
            <ol>
              <li v-for="potentialPlayer in potentialPlayers">
                <display-player v-bind:player="potentialPlayer"></display-player>
              </li>
            </ol>
          </div>
          
        </div>
        <div v-if="currentStep == 'proposePlayers'">
        </div>
      </div>
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>
    <script src="gui_vuejs.js"></script>
  </body>
</html>
